build:
  type: text
  content: |-
    #!/bin/sh


    cd ./ && make
deploy:
  type: text
  content: |
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm upgrade newapp123-helm-vote helm-vote -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS
test:
  - name: ecserver
    configType: artillery
    configPath: ecserver/test/test.yaml
uninstall:
  type: text
  content: ''
lastUpdatedBy: harish
lastUpdatedOn: 2022-09-28T06:01:27.680Z
